* {
    /*
    Retirando as configurações do Navegador que vêm padrão
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*
    Configutando as fontes da página padrão
    */
    --ff-texting: 'Open Sans', sans-serif;
    --ff-heading:'Inter', sans-serif;
    font-size: 62.5%;
    --fs-body:1.6rem;
    --fs-texting: 1.4rem;
        /*
    Configutando as Cor da página padrão
    */
    --hue: 250;
    --bg-primary: hsl(var(--hue), 57%, 100%, 50%);
    --fc-primary: hsl(var(--hue),100%,25%);
}






