* {
    /*
    Retirando as configurações do Navegador que vêm padrão
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*
    Configutando as fontes da página padrão
    */
    --ff-texting: 'Open Sans', sans-serif;
    --ff-heading:'Inter', sans-serif;
    --ff-texting-logo: 'Grape Nuts', cursive;
    font-size: 62.5%;
    --fs-body:1.6rem;
    --fs-texting: 1.4rem;
        /*
    Configutando as Cor da página padrão
    */
    --hue: 212;
    --bg-primary: hsl(var(--hue), 12%, 6%);
    --fc-primary: hsl(var(--hue), 85%, 55%);
}

body{
    font-family: var(--ff-texting);
    background: var(--bg-primary);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li a{
    text-decoration: none;
    border-radius: 0.9rem;
    padding: 0.5rem;
    margin: 0.1rem;
    color:var(--bg-primary);
}
header {
    padding: 0 3.2rem 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--fc-primary);
}

header ul li {
    
    font-family: var(--ff-texting);
    font-size: var(--fs-texting);
    padding: 1.2rem;

}

footer {
    display: flex;
    justify-content: center;
    padding: 2.0rem;
    font-size: var(--fs-texting);
    background: var(--fc-primary);
}

footer a {
    justify-content: center;
    padding: 0.4rem;
    text-decoration: none;
    color: var(--bg-primary);
}

.caixa{
    display: flex;
    flex-direction: column;
    padding: 2.0rem;
}

#logo{
    font-size: large;
    text-align: center;
    color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--ff-texting-logo);
    justify-content: left;
}


.conteudo{
    width: 620;
    align-items: center;  
}

.conteudo h1 {
    text-align: center;
    font-size: 4.6rem;
    color:var(--fc-primary);
    font-family: var(--ff-heading);
    margin-top: 10%;
}

.conteudo p {
    text-align: center;
    font-size: var(--fs-texting);
    color: var(--fc-primary);
    font-weight: 0.6rem;
    margin-top: 2.0rem;
    margin-bottom: 10%;
}

.main{
    align-items: center;
    display: flex;
    justify-content: center;
}



